In [51]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.symbol = symbol
        self.total_salary = base_salary * (1 + bonus_rate)
        self.bonus = (self.total_salary - self.base_salary)

    def __repr__(self):
        return f'{self.symbol}{self.base_salary:,.0f}'
    
    def show_salary(self):
        return f'{self.symbol}{self.total_salary:,.0f}'
    
    def show_bonus(self):
        return f'{self.bonus:,.0f}'

In [52]:
salary = BaseSalary(100000)

salary.symbol

'$'

In [53]:
salary

$100,000

In [55]:
salary.show_salary()

'$110,000'

In [56]:
salary.show_bonus()

'10,000'

In [72]:
class DataScienceJobsList:
    def __init__(self, jobs):
        self.jobs = jobs

    def __str__(self):
        jobs_str = 'Data Science Jobs: \n'
        for job in self.jobs:
            jobs_str += f"- {job['job_title']}: {job['job_skills']}\n"
        return jobs_str
    
    def split_skills(self):
        for job in self.jobs:
            job['jon_skills'] = job['job_skills'].split(', ')

In [70]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "Python, SQL, Machine Learning"},
    {'job_title': 'Data Analyst', 'job_skills': "SQL, Excel, Python"},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "Python, TensorFlow, Keras"}
]

In [71]:
jobs_list = DataScienceJobsList(data_science_jobs)
print(jobs_list)

Data Science Jobs:
- Data Scientist: Python, SQL, Machine Learning
- Data Analyst: SQL, Excel, Python
- Machine Learning Engineer: Python, TensorFlow, Keras

In [74]:
jobs_list = DataScienceJobsList(data_science_jobs)
jobs_list.split_skills()
print(jobs_list)

Data Science Jobs:
- Data Scientist: Python, SQL, Machine Learning
- Data Analyst: SQL, Excel, Python
- Machine Learning Engineer: Python, TensorFlow, Keras

## Practise Questions